<!DOCTYPE html>
<html>

<head>
    <title>Flask Test</title>
</head>

<body>
    <form method="post" action="/">
        <label for="text">Enter New Text : </label>
        <input type="text" name="text">
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <p>{{submit_feedback}}</p>

    <br/>

    <form method="post" action="/search">
        <label for="text">Enter Search term : </label>
        <input type="text" name="text">
        <br><br>
        <input type="submit" value="Search" />
    </form>

    <br/>

    <form action="/all-text">
        <input type="submit" value="All texts" />
    </form>

    <br />

    <form action="/cleared">
        <input type="submit" value="Clear All" />
    </form>

    <br />
</body>

</html>