<!DOCTYPE html>
<html>

<head>
    <title>Unit Tests</title>
</head>

<body>
    <br />

    <form action="/unit-test1">
        <label>Data entry test</label>
        <input type="submit" value="Test 1" />
    </form>
    <p><b>Pass : </b>{{result_1}}</p>
    <br />

    <form action="/unit-test2">
        <label>Strict search test</label>
        <input type="submit" value="Test 2" />
    </form>
    <p><b>Pass : </b>{{result_2}}</p>
    <br />

    <form action="/unit-test3">
        <label>Keyword search test</label>
        <input type="submit" value="Test 3" />
    </form>
    <p><b>Pass : </b>{{result_3}}</p>
    <br />

    <form action="/unit-test4">
        <label>Data delete test</label>
        <input type="submit" value="Test 4" />
    </form>
    <p><b>Pass : </b>{{result_4}}</p>

</body>

</html>